
h1 {text-align : center ; color : blue;background-color:lightgreen; animation-name:example;animation-duration:5s;padding-bottom: 50px;
  padding-top: 50px; }

h2{text-align : left ; color : yellow;}

h3{text-align: left ; color : yellow;}

ol{color : brown ;}

ul{color : brown ;}

p { color : red ; font-size:20px; animation-name:heading;animation-duration:5s}

body {background-image: url("class.jpeg");
  background-repeat: no-repeat;
   background-size : cover;
} 
.flavour a{color : white;background-color: brown;font-size:x-large;font-family:'Times New Roman', Times, serif;opacity: 0.7;
text-decoration: none;bottom:0;position: absolute;}

@keyframes example{
  from{background-color: lightgreen;}
  to{background-color : cyan;}
}


.flavour a:hover{
  color: green;
}


.flex-container{
display: flex;
background-color: olivedrab;
flex-direction:row;
align-content: stretch;
}

.flex-container > div {
background-color: red;
width: 200px;
height: 200px;
margin: 10px;
text-align: center;
font-size: 30px;
box-sizing: border-box;
}






